body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f7fb;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.btn {
  padding: 8px 14px;
  background-color: #60c8f8;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #3aa7db;
}