<section class="dashboard">
  <h2 class="title">📚 Educational Books</h2>

  <!-- Loading -->
  <div *ngIf="loading()" class="loading">
    Loading books...
  </div>

  <!-- Error -->
  <div *ngIf="error()" class="error">
    ❌ Failed to load books. Please try again.
  </div>

  <!-- Books -->
  <div class="grid" *ngIf="books$ | async as data">

    <app-book-card
      *ngFor="let book of data.works"
      [book]="book"
      (view)="viewDetails($event)">
    </app-book-card>

  </div>
</section>